body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
    color: #333; 
}


header {
    background: linear-gradient(135deg, #ba41d8, #3aa0e4); 
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

header img {
    margin-top: 15px;
    border-radius: 10px; 
}


nav {
    background: #333;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    transition: background 0.3s;
}

nav a:hover {
    background: #9937d2; 
}

section {
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; 
}

h2 {
    color: #a22fc8; 
}

#about p {
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #ce35f9;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

img {
    max-width: 100px;
    border-radius: 5px; 
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #bf5cd7; 
}

button {
    background: #ba26e3; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #a834bc; 
}

footer {
    text-align: center;
    padding: 15px;
    background: #393639;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}